* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px){
    body {
        background-image: url("https://i.pinimg.com/originals/10/29/7f/10297f08890a017e53a190fec819d689.jpg");
    }

    .header img {
        width: 390px;
        height: auto;
        object-fit: cover;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main h2 {
        margin-top: 20px;
        margin-bottom: 40px;
        font-family: sans-serif;
        font-size: 20px;
    }

    .main h3 {
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }

    .main p {
        font-size: 12px;
        padding: 10px;
        color: #000;
        font-family: sans-serif;
        font-size: 10px;
        text-align: center;
    }

    .cocheDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .cocheDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .coche {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .cunaDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #CEFFDA;
    }

    .cunaDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .cuna {
        width: 230px;
        height: auto;
        object-fit: cover;
    }

    .mesedoraDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #CEFFDA;
    }

    .mesedoraDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .mesedora {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .panaleraDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .panaleraDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .panalera {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .nidoDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .nidoDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .nido {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .calentadorDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .calentadorDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .calentador {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .biberonDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .biberonDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .biberon {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .extractorDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #CEFFDA;
    }

    .extractorDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .extractor {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .baneraDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .baneraDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .banera {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .canguroDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .canguroDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .canguro {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .gimnasioDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .gimnasioDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .gimnasio {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .camaraDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .camaraDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .camara {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .esterilizadorDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .esterilizadorDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .esterilizador {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .dispensadorDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .dispensadorDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .dispensador {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .boteDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #CEFFDA;
    }

    .boteDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .bote {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .asientoDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #FFA5A1;
    }

    .asientoDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .asiento {
        width: 250px;
        height: auto;
        object-fit: cover;
    }

    .almohadaDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #CEFFDA;
    }

    .almohadaDiv a {
        text-decoration: none;
        font-size: 16px;
        color: #464646;
    }

    .almohada {
        width: 250px;
        height: auto;
        object-fit: cover;
    }



    .footer {
        text-align: center;
        margin-top: 40px;
        padding: 20px;
        width: 100%;
        background-color: #FFDCDA;
    }

    .footer p {
        font-size: 12px;
        font-family: sans-serif;
    }
}